@use 'styles' as *;

.container {
  color: white;
  font-size: 3rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h1 {
    width: 50%;
    margin: 1% auto;
  }
  
  a {
    text-decoration: none;
    border: rem(1) solid black;
    border-radius: rem(5);
    padding: 3%;
    color: black;
    
    &:hover {
      background-color: black;
      color: white;
    }
  }


}