@use 'styles' as *;

.row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  max-width: 100%;

  &_start {
    justify-content: flex-start;
  }

  &_end {
    justify-content: flex-end;
  }

  &_between {
    justify-content: space-between;
  }

  &_center {
    justify-content: center;
  }

  &_align_center {
    align-items: center;
  }

  &_align_start {
    align-items: flex-start;
  }

  &_align_end {
    align-items: flex-end;
  }

  &_align_normal {
    align-items: normal;
  }
}