@use 'styles' as *;

.container {
  margin: 0 auto;

  @include landscape {
    max-width: rem(540);
  }

  @include tablet {
    max-width: rem(720);
  }

  @include desktop {
    max-width: rem(960);
  }

  @include large-desktop {
    max-width: rem(1140);
  }

}