@use 'breakpoints' as *;

@mixin landscape {
  @media (min-width: $mobile){
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet){
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop){
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: $large-desktop){
    @content;
  }
}
