.loader {
  border: rem(2) solid gainsboro;
  border-radius: 50%;
  border-top: rem(2) solid gray;
  width: rem(80);
  height: rem(80);
  animation: spin 1s linear infinite;
  margin: 5% auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
