@use 'styles' as *;

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: black;
  padding: 3% 0;
  
  p {
    color: white;
    font-size: rem(14);
    line-height: rem(24);

    @include landscape {
      font-size: rem(2);
      line-height: rem(32);
    }
  }
}